.orders-container {
  height: calc(100vh - 20%);
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.2);
  }

  60% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

.bounce-animation {
  animation: bounce 0.4s ease;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.filter-container button {
  margin-right: 10px;
}

.filter-input {
  width: 250px;
}

.table-container {
  flex: 1;
  border-radius: 5px;
  background-color: #ffffff;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  padding: 16px;
}

table {
  flex: 1;
  overflow: hidden;
  border-radius: 8px;
}

/* Stili per la modale */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-form {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.form-field {
  width: 100%;
  margin-bottom: 15px;
}

@media (max-width: 508px) {
  .filter-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .filter-input {
    width: 100%;
    margin-top: 10px;
  }

  .table-container {
    max-height: calc(100vh - 150px);
  }
}

.image-preview-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-preview {
  max-width: 100%;
  max-height: 400px;
  border-radius: 8px;
  object-fit: contain;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}