<div class="orders-container">
  <div *ngIf="addedToCart" class="added-message">
    ✅ Oggetto aggiunto al carrello!
  </div>
  <div class="filter-container">
    <button mat-icon-button color="primary" (click)="goToCart()" aria-label="Vai al carrello">
      <mat-icon>shopping_cart</mat-icon>
    </button>

    <button mat-raised-button color="primary" (click)="openAddProductModal()">
      <mat-icon class="mr-1">add</mat-icon> Nuovo Prodotto
    </button>

    <ng-template #addProductModal>
      <h2 mat-dialog-title>Aggiungi Nuovo Prodotto</h2>
      <mat-dialog-content>
        <form [formGroup]="productForm" class="product-form">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="name" required />
            <mat-error *ngIf="productForm.get('name')?.hasError('required')">
              Nome obbligatoria
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Prezzo</mat-label>
            <input matInput type="number" formControlName="price" required min="1" />
            <mat-error *ngIf="productForm.get('price')?.hasError('min')">
              Il prezzo deve essere maggiore di 0
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Disponibilità (Stock)</mat-label>
            <input matInput type="number" formControlName="stock" required min="1"/>
            <mat-error *ngIf="productForm.get('stock')?.hasError('min')">
              Lo stock non può essere negativo
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Categoria</mat-label>
            <mat-select formControlName="categoryId" required>
              <mat-option *ngFor="let cat of categories" [value]="cat._id">
                {{ cat.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="productForm.get('categoryId')?.hasError('required')">
              Categoria obbligatoria
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Descrizione</mat-label>
            <textarea matInput formControlName="description" rows="3" required></textarea>
            <mat-error *ngIf="productForm.get('description')?.hasError('required')">
              Descrizione obbligatoria
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Seleziona Immagine</mat-label>
              <ngx-mat-file-input formControlName="imageFile"  (change)="onFileSelected($event)" accept="image/*"></ngx-mat-file-input>
          </mat-form-field>

          <div *ngIf="previewUrl" class="image-preview">
            <img [src]="previewUrl" alt="Anteprima immagine" class="preview-image">
          </div>

        </form>
      </mat-dialog-content>

      <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Annulla</button>
        <button mat-raised-button color="primary" (click)="saveProduct()" [disabled]="productForm.invalid">
          Salva
        </button>
      </mat-dialog-actions>
    </ng-template>

    <mat-form-field class="filter-input" appearance="outline">
      <input matInput (blur)="applyFilter($event)" (keydown.enter)="applyFilter($event)"
            placeholder="Filtra prodotti..." #input
            matTooltip="usa #nome #categoria #prezzo per filtrare un solo campo">
    </mat-form-field>
  </div>

  <div class="table-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort matSortDisableClear>

      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Immagine</th>
        <td mat-cell *matCellDef="let row">
          <img [src]="row.imageUrl" alt="{{ row.name }}" width="50" height="50" (error)="onImageError($event)"
            style="object-fit: cover; border-radius: 4px;" />
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
        <td mat-cell *matCellDef="let row">{{ row.name }}</td>
      </ng-container>

      <ng-container matColumnDef="stock">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Disponibilità</th>
        <td mat-cell *matCellDef="let row">{{ row.stock }}</td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Prezzo</th>
        <td mat-cell *matCellDef="let row">{{ row.price | currency }}</td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Categoria</th>
        <td mat-cell *matCellDef="let row">{{ row.category?.name || 'N/D' }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Azioni</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="goToProductDetail(row._id)" aria-label="Dettagli prodotto">
            <mat-icon>info</mat-icon>
          </button>

          <button mat-icon-button (click)="addElementToCart(row)" aria-label="Aggiungi al carrello"
            [ngClass]="{'bounce-animation': addedToCart}">
            <mat-icon>add_shopping_cart</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="6">Nessun elemento trovato</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
  </div>
</div>