<h2>Product List</h2>
<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="shopping-add"><button
    onclick="{}">pls</button></mat-icon>

<ul>
  <li *ngFor="let product of products$ | async">
    <h3>{{ product.name }}</h3>
    <p>{{ product.description }}</p>
    <strong>Price: {{ product.price }}€</strong>
    <p>
      Status:
      <span [style.color]="product.inStock ? 'green' : 'red'">
        {{ product.inStock ? 'Available' : 'Out of stock' }}
      </span>
    </p>
    <button (click)="goToDetail(product.id)">View Details</button>
  </li>
</ul>