.orders-container {
    height: calc(100vh - 30%);
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  
  .filter-container {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
  }
  
  .filter-input {
    width: 250px;
  }
  

  .table-container {
    flex: 1;
    margin-bottom: 5%; 
    border-radius: 5px; 
    background-color: #ffffff; 
    display: flex;
    overflow: hidden;
    flex-direction: column;
    padding: 16px;
  }
  
  table {
    flex: 1;
    overflow: hidden;
    border-radius: 8px;
  }
  
  @media (max-width: 508px) {
    .filter-input {
      width: 100%;
    }
  
    .table-container {
      max-height: calc(100vh - 150px);
    }
  }