<h2>Cart List</h2>

<button mat-icon-button color="primary" (click)="goBack()">
  <mat-icon>shopping_cart</mat-icon>
</button>

<ul>
  <li *ngFor="let item of items$ | async" class="product-item">
    <h3>{{ item.product.name }}</h3>
    <p>{{ item.product.description }}</p>
    <strong>Price: {{ item.product.price * item.quantity }}€</strong>
    <p>
      Status:
      <span [style.color]="item.quantity ? 'green' : 'red'">
        {{ item.quantity ? 'Available' : 'Out of stock' }}
      </span>
    </p>
  </li>
</ul>